*{
    margin: 0;
    font-family: Arial;
}

.navbar{
    height: 50px;
    background-color: #E6B2BA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: transparent;
    font-size: 1.5rem;

}
.nav-first{
    width: 200px;
    padding-left: 10px;
    font-weight: 600;
}
.nav-section{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
    
}
.panel{
    height:800px;

    background-image: url(brain3.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    
}
.container{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

   
}
#button{


    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#button:hover {
    background-color: #218838;
}



#imageInput{
    width: 220px;
    
}


/* new design */

  .result-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f5f9ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.3s ease;
  }

  .result-card h2 {
    margin-bottom: 15px;
    color: #333;
  }

  .result-card p {
    font-size: 18px;
    color: #444;
    margin: 5px 0;
  }

  .result-card p span {
    color: #007BFF;
    font-weight: 600;
  }
#preview{
    margin-left: 70px;
}

  



.input {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 15px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #007BFF;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}